<p id="notice"><%= notice %></p>

<h1>Apartment Listings</h1>

<%= form_tag("/", method: "get") do %>
  <%= label_tag(:search, "Search for:") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Search", :id=> "search_button", class: "button") %>
<% end %><br>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Address</th>
      <!-- <th>Latitude</th>
      <th>Longitude</th> -->
      <th>Contact Info</th>
      <!-- <% if user_signed_in? %>
        <th colspan="3"></th>
      <% end %> -->
    </tr>
  </thead>

  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><%= link_to image_tag(apartment.image.url(:med)), apartment %>
        <td><%= apartment.street_one %><br>
        <% if apartment.street_two.present? %>
          <%= apartment.street_two %><br>
        <% end %>
        <%= apartment.city %>,
        <%= apartment.state %>
        <%= apartment.postal_code %>
        <%= apartment.country %></td>
        <!-- <td><%= apartment.latitude %></td>
        <td><%= apartment.longitude %></td> -->
        <td>Name: <%= apartment.contact_name %><br>
        Phone: <%= apartment.contact_phone %><br>
        Hours: <%= apartment.contact_hours %><br><br>
        Listed by: <%= apartment.user.email %></td>
        <!-- <% if @ability.can? :manage, apartment %>
        <td><%= link_to 'Edit', edit_apartment_path(apartment), class: "button tiny" %></td>
        <td><%= link_to 'Destroy', apartment, method: :delete, data: { confirm: 'Are you sure?' }, class: "button tiny alert" %></td>
        <% end %> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Apartment', new_apartment_path, class: "button" %>
<% end %>
<br><br>

<div id="apartment_map_all">Google map will appear here dude</div>
