<p id="notice"><%= notice %></p>

<table>
  <tbody>
    <tr>
      <td>
        <%= link_to image_tag(@apartment.image.url(:large)), @apartment.image.url %><br>
      </td>
      <td>
        <p>
          <strong>Address:</strong>
          <%= @apartment.street_one %><br>
          <%= @apartment.street_two %><br>
          <%= @apartment.city %>,
          <%= @apartment.state %>
          <%= @apartment.postal_code %>
          <%= @apartment.country %>
        </p>
      </td>
        <p>
          <strong>Contact Info:</strong>
          Name: <%= @apartment.contact_name %>
          Phone: <%= @apartment.contact_phone %>
          Hours: <%= @apartment.contact_hours %>
        </p>
    </tr>
  </tbody>
</table>

<!-- <p>
  <strong>Latitude:</strong>
  <%= @apartment.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @apartment.longitude %>
</p> -->

<div>
  <div id="apartment_map" data-apartment-id="<%=@apartment.id%>">Google map will appear here dude</div>
</div>

<% if @apartment.user == current_user %>
  <%= link_to 'Edit', edit_apartment_path(@apartment), class="button tiny" %> |
<% end %>
<%= link_to 'Back', apartments_path, class="button tiny secondary" %>
